<!-- <p>employee works!</p> -->
<div class="w-100 row">
    <div class="col-2">
        <div class="bg-dark pt-5" style="height: 93vh;">
            <h5 class="text-center">
                <a routerLink="/home" class="text-light text-decoration-none">Home</a>
            </h5>
            <h5 class="text-center mt-5">
                <a routerLink="/employee" class="text-light text-decoration-none">Employee</a>
            </h5>
        </div>
    </div>
    <div class="col-10 p-2">
        <h3>Welcome Admin!</h3>
    </div>
</div>
